<div class="bg" [ngClass]="{show: full}" (click)="closeFull()"></div>
<div class="container">
    <div id="testimonials" class="testimonials row"
         scroll
         [at]=at
         [loadingMoreItems]=loadingMoreItems
         [noMoreItems]=noMoreItems
         (getItems)="getItems($event)" >
         <template ngFor let-r [ngForOf]="reviews" let-_index="index" let-_odd="odd">
              <div class="testimonials-item col-xs-12 col-sm-12 col-md-6 col-lg-6" [ngClass]="{show: _index < 2}">
                <div class="testimonials-avatar">
                    <img src="/build/img/reviews/{{r.id}}/250x250-{{r.avatar}}" alt=''/>
                </div>
                <div class="testimonials-content">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <div>{{r['text']}}</div>
                    <div class="testimonials-name">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>{{r['username']}},</span>
                        <span class="testimonials-job">{{r['position']}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="_odd" class="clearfix"></div>
        </template>
        <div *ngIf="!reviews.length" style='position: relative; width: 100%'>
            <div class="loading-progress"></div>
        </div>
    </div>
</div>