<div class="wrapper">
    <div class="sidebar">
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(./build/img/sidebar-2.jpg)"></div>
    </div>
    <div class="main-panel">
        <router-outlet></router-outlet>
    </div>
</div>
