<div class="page-title head-title business" [@hideBlock]="hideBlock" click-outside>
    <div class="container">
        <div class="pageTitle" [@visibilityChanged]="status">
             <h1>{{title.label}}</h1>
            <span class="line"></span>
            <div class="text" [innerHTML]="title.text | safeHtml"></div>
        </div>
    </div>
</div>