<div class="top-bar">
    <div class="container clearfix">
        <div class="top-bar-item"><a href="mailto:partners@flexi.ink"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>partners@flexi.ink</span></a></div>
        <div class="top-bar-item telephone"><a href="tel://+18882288052"><i class="fa fa-phone" aria-hidden="true"></i><span>+1 888 228 80 52</span></a></div>
    </div>
</div>
<div class="container">
    <div class="header-navbar">
        <sd-navbar></sd-navbar>
    </div>
</div>
<info-block></info-block>
<router-outlet></router-outlet>
<div id="footer" class="cover" *ngIf="showFooter">
    <div class="container">
        <h2>Say Hi, Get In Touch</h2>
        <div class="social">
            <a class="facebook" target="_blank" href="https://www.facebook.com/flexi.ink"></a>
            <a class="twitter" target="_blank" href="https://twitter.com/Flexi_IT"></a>
            <a class="linkedin" target="_blank" href="https://www.linkedin.com/company/flexi-ink"></a>
        </div>
    </div>
    <div id="arrow-top"
         style="opacity: 0"
         [@arrowTopAnim]="arrowTopStatus"
         arrow-top
         (click) = "arrowFn()"
         (arrowEvent)="arrowEvent($event)">
         <svg id="Capa_1" x="0px" y="0px" viewBox="0 0 476.737 476.737" enable-background="new 0 0 48 48" xml:space="preserve" width="45px" height="45px">
        <path d="M238.369,0C106.726,0,0,106.726,0,238.369c0,131.675,106.726,238.369,238.369,238.369 c131.675,0,238.369-106.694,238.369-238.369C476.737,106.726,370.043,0,238.369,0z M352.722,289.221 c-6.198,6.198-16.273,6.198-22.47,0l-91.883-91.883l-91.883,91.883c-6.198,6.198-16.273,6.198-22.47,0 c-6.198-6.166-6.198-16.273,0-22.47L227.086,163.68c3.115-3.115,7.183-4.64,11.283-4.64s8.168,1.526,11.283,4.64L352.722,266.75 C358.92,272.948,358.92,282.991,352.722,289.221z" fill="#00a8ff"></path>
        </svg>
    </div>
    <div id="chat-block">
        <div class="chat-btn" (click)="openChat()">
            <svg x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
            <path  fill="#00a8ff" d="M24,4C13.5,4,5,12.1,5,22c0,5.2,2.3,9.8,6,13.1V44l7.8-4.7c1.6,0.4,3.4,0.7,5.2,0.7c10.5,0,19-8.1,19-18 C43,12.1,34.5,4,24,4z"></path>
            <polygon fill="#FFFFFF" points="12,28 22,17 27,22 36,17 26,28 21,23 "></polygon>
            </svg>
            <a target="_blank" href="https://www.messenger.com/t/flexi.ink">CHAT</a>
        </div>
        <div class="chat-popup">
            <div class="title">
                <svg viewBox="0 0 32 32" class="svg-whatsapp">
                <path d=" M19.11 17.205c-.372 0-1.088 1.39-1.518 1.39a.63.63 0 0 1-.315-.1c-.802-.402-1.504-.817-2.163-1.447-.545-.516-1.146-1.29-1.46-1.963a.426.426 0 0 1-.073-.215c0-.33.99-.945.99-1.49 0-.143-.73-2.09-.832-2.335-.143-.372-.214-.487-.6-.487-.187 0-.36-.043-.53-.043-.302 0-.53.115-.746.315-.688.645-1.032 1.318-1.06 2.264v.114c-.015.99.472 1.977 1.017 2.78 1.23 1.82 2.506 3.41 4.554 4.34.616.287 2.035.888 2.722.888.817 0 2.15-.515 2.478-1.318.13-.33.244-.73.244-1.088 0-.058 0-.144-.03-.215-.1-.172-2.434-1.39-2.678-1.39zm-2.908 7.593c-1.747 0-3.48-.53-4.942-1.49L7.793 24.41l1.132-3.337a8.955 8.955 0 0 1-1.72-5.272c0-4.955 4.04-8.995 8.997-8.995S25.2 10.845 25.2 15.8c0 4.958-4.04 8.998-8.998 8.998zm0-19.798c-5.96 0-10.8 4.842-10.8 10.8 0 1.964.53 3.898 1.546 5.574L5 27.176l5.974-1.92a10.807 10.807 0 0 0 16.03-9.455c0-5.958-4.842-10.8-10.802-10.8z" fill-rule="evenodd"></path>
                </svg>
                WhatsApp
                <svg fill="#FFFFFF" class="close" style="float: right; cursor: pointer;" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
            <div class="body">
                Add the number to the Contacts on your phone and send us a message via app.
                <div class="phone">+380665659496</div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
