<div id="connect">
    <form class="formConnect" [formGroup]="connectForm" novalidate (ngSubmit)="submit()" *ngIf="showForm">
        <div>
            <span class="title">Hello, my name is</span>
            <input type="text" name="name" class="name" placeholder="(name)" autocomplete="off" focus formControlName="name"
                   [ngClass]="{error: (connectForm.controls.name.invalid && (connectForm.controls.name.touched || connectForm.controls.name.dirty))}">
            <span class="title">.</span>
        </div>
        <div>
            <span class="title">I'm from</span>
            <input type="text" name="city" class="city" placeholder="(city, st)" autocomplete="off" focus formControlName="city"
                   [ngClass]="{error: (connectForm.controls.city.invalid && (connectForm.controls.city.touched || connectForm.controls.city.dirty))}">
            <span class="title">. You can reach me</span>
        </div>
        <div>
            <span class="title">by phone at</span>
            <input type="tel" name="telephone" class="telephone" placeholder="(your phone number here)" autocomplete="off" focus formControlName="telephone"
                   [ngClass]="{error: (connectForm.controls.telephone.invalid && (connectForm.controls.telephone.touched || connectForm.controls.telephone.dirty) && connectForm.controls.email.invalid)}">
        </div>
        <div>
            <span class="title">or via email at</span>
            <input type="email" name="email" class="email" placeholder="(your email here)" autocomplete="off" focus formControlName="email"
                   [ngClass]="{error: (connectForm.controls.email.invalid && (connectForm.controls.email.touched || connectForm.controls.email.dirty) && connectForm.controls.telephone.invalid)}">
            <span class="title">.</span>
        </div>
        <div class="buttonSendForm">
            <button type="submit" class="btn send">Send</button>
        </div>
    </form>
    <div class="formConnect" *ngIf="!showForm" >
        <div class="text">
            Thank you for filling out your information!
            <div class="buttonSendForm">
                <a [routerLink]="['/']" ><button type="button" class="btn send backHome">Back to home page</button></a>
            </div>
        </div>
    </div>
</div>